<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Jason Nang">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Tickets</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <br>
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>$Price$</th>
            </tr>
            <tr>
                <th>Adult</th>
                <th>General admission for ages 18 and over. Under 18 free of charge.</th>
                <th>$18</th>
            </tr>
            <tr>
                <th>Student</th>
                <th>Student ID required</th>
                <th>$10</th>
            </tr>
            <tr>
                <th>Member</th>
                <th>Member ID required</th>
                <th>$15</th>
            </tr>
        </table>
    </div>
    <footer><p>© 2026 MonoMuse. All rights reserved</footer></p>
</body>
</html>